.mainPageHeader{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #39445a;
    font-family: sans-serif;
    font-size: 2vw;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 5px black;
    color:aliceblue;
    z-index: 100;
}

@media(max-width:1000px){
    .mainPageHeader{
        padding-top: 15px; 
        font-size: 4vw;
    }
}