.App{
    min-height: 100vh;
    background-color: #39445a;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
}

@media(max-width: 700px){
    .App{
        padding-top: 70px;
    }
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  padding: 4px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: white;
  margin-top: 10px;
}